<div class="container text-center">
  <h1>{{title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="CODEX 1.1 BY L A $ H K">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Terminaison</th>
        <th>Terme / Mot / Nom</th>
        <th>Definition</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let def of definitions | filter:searchText">
        <td>{{def.rime}}</td>
        <td>{{def.name}}</td>
        <td>{{def.country}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
